body {
	/*margin-top: 60px;*/
}


.completed {
	color: #d9d9d9;
	text-decoration: line-through;
}

.raisequestion{
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.mdl-textfield{
	width: 100%;
}


.raisequestion .content .mdl-textfield__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    display: block;
    font-size: 16px;
    height: 100px;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
}


.questionsection{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.questionsection .reply{
	padding-left: 0px;
	width: 100%;
}



.questionsection .mdl-card__title {
	
  
  min-height: 0px;
  
  background-position: 90% 100%;
  background-repeat: no-repeat;
}

.questionsection .mdl-card__title.mdl-card__title {
	color: #00BBD6;
  font-size: 24px;
  font-weight: 400;
}

.questionsection .mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  min-height: 64px;
  display: -webkit-box;
  align-items: center;
}
.questionsection .mdl-card__supporting-text strong {
  font-weight: 400;
}
.questionsection .mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 64px;
}
.questionsection .mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px;
}

 .questionsection  .mdl-textfield__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    display: block;
    font-size: 16px;
    margin: 10px 0px;
    padding: 4px 4px;
    width: 100%;
    background: 0 0;
    text-align: left;
    height: 100px;
    color: inherit;
}
.questionsection .mdl-card__actions {
    font-size: 16px;
    line-height: normal;
    width: 100%;
    background-color: transparent;
    padding: 24px;
    box-sizing: border-box;
}

.questionsection .comment_list > h5 {
	
	font-size: 20px;
    letter-spacing: 1px;
    padding-top: 12px;
    font-weight: 400;
}



.raisepoll{
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.pollList{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

/* Poll */
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status {
	background-image: url(../images/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}



/* ---------------------------------------------- /*
 *	Form Group
/* ---------------------------------------------- */

.form-group{
	margin-left:auto;
    margin-right:auto;

    max-width: 100%;
    background: #FFF;
    padding-right: 10px;
    padding-left: 10px;

    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	
}


.form-group h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}




.form-group .form-group-title label , .form-group .form-group-content  label {
    float: left;
    width: 100%;
    text-align: left;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
	 font-size:18px;
    font-family: Arial, sans-serif;
}

.form-group label>span {
    float: left;
    width: 100%;
    text-align: left;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
	 font-size:18px;
    font-family: Arial, sans-serif;
    
}

.form-group input[type="text"] {
    height:28px;
    padding: 5px 0px 0px 5px;
    width: 100%;
	 font-size:16px;
	 display: -moz-box;
}

.form-group textarea{
    height:150px;
    padding: 5px 0px 0px 5px;
    width: 100%;
	 font-size:16px;
	 display: -moz-box;
}
/*
.form-group .form-group-btn{
	 margin-top: 5px;
	 margin-bottom: 5px;
	
}

.form-group button {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
}
.form-group button:hover {
	//float: right;
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}
.form-group .btn-submit{
	 color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
	
}
*/

#photoUploader{
	display: inline;
}



/* ---------------------------------------------- /*
 *	List-group
/* ---------------------------------------------- */


.list-group h3 {
    font: 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
	 padding-right: 10px;
    padding-left: 10px;
    
}

.list-group .title {
	
	
    font-family: 'Crete Round', serif;
    font-size:24px;
	
    
}

.list-group #message {
	
	
    font-family: 'Inconsolata';
    font-size:18px;
	 padding-right: 10px;
    padding-left: 20px;
    
}

.list-group #list-footer {
	 padding-left: 15px;
	
	
}


/***				===
	Scroll-Up
====				***/
.scroll-up {
	position: fixed;
	display: none;
	z-index: 999;
	bottom: 2em;
	right: 2em;
}

.scroll-up a {
	background-color: rgba(135, 135, 135, 0.5);
	display: block;
	width: 35px;
	height: 35px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
}

.scroll-up a:hover,
.scroll-up a:active {
	background-color: rgba(235, 235, 235, .8);
	color: #e7746f;
}


.header{
	float: right;
	/* padding-top: 30px; */
}

.icon{display: inline-block;}
.icon,
.icon + span{vertical-align: middle;}

.icon.facebook{
  background: url(../img/icon-facebook.png) no-repeat 0 0;
  height: 29px;
  width: 38px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

#toTop{
	position: fixed;
	bottom: 100px;
	right: 40px;
	cursor: pointer;
	display: none;
}
#toTop .fa {margin-right: 5px;}

.title, .list-group-item-text {
	word-wrap: break-word;
}
