body {
	margin-top: 60px;
}


.completed {
	color: #d9d9d9;
	text-decoration: line-through;
}

/***				===
	Form Group
====				***/

.form-group{
	margin-left:auto;
    margin-right:auto;

    max-width: 100%;
    background: #FFF;
    padding-right: 10px;
    padding-left: 10px;

    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	
}


.form-group h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}




.form-group .form-group-title label , .form-group .form-group-content  label {
    float: left;
    width: 100%;
    text-align: left;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
	 font-size:18px;
    font-family: Arial, sans-serif;
}

.form-group label>span {
    float: left;
    width: 100%;
    text-align: left;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
	 font-size:18px;
    font-family: Arial, sans-serif;
    
}

.form-group input[type="text"] {
    height:28px;
    padding: 5px 0px 0px 5px;
    width: 100%;
	 font-size:16px;
	 display: -moz-box;
}

.form-group textarea{
    height:150px;
    padding: 5px 0px 0px 5px;
    width: 100%;
	 font-size:16px;
	 display: -moz-box;
}

.form-group .form-group-btn{
	 margin-top: 5px;
	 margin-bottom: 5px;
	
}

.form-group button {
	 float: right;
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
}
.form-group button:hover {
	/* float: right;*/
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}
.form-group .btn-submit{
	 color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
	
}



/***				===
	List-group
====				***/


.list-group h3 {
    font: 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
	 padding-right: 10px;
    padding-left: 10px;
    
}

.list-group .title {
	
	
    font-family: 'Crete Round', serif;
    font-size:24px;
	
    
}

.list-group #message {
	
	
    font-family: 'Inconsolata';
    font-size:18px;
	 padding-right: 10px;
    padding-left: 20px;
    
}

.list-group #list-footer {
	 padding-left: 15px;
	
	
}


/***				===
	Scroll-Up
====				***/
.scroll-up {
	position: fixed;
	display: none;
	z-index: 999;
	bottom: 2em;
	right: 2em;
}

.scroll-up a {
	background-color: rgba(135, 135, 135, 0.5);
	display: block;
	width: 35px;
	height: 35px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
}

.scroll-up a:hover,
.scroll-up a:active {
	background-color: rgba(235, 235, 235, .8);
	color: #e7746f;
}


.header{
	float: right;
	/* padding-top: 30px; */
}

.icon{display: inline-block;}
.icon,
.icon + span{vertical-align: middle;}

.icon.facebook{
  background: url(../img/icon-facebook.png) no-repeat 0 0;
  height: 29px;
  width: 38px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

#toTop{
	position: fixed;
	bottom: 100px;
	right: 40px;
	cursor: pointer;
	display: none;
}
#toTop .fa {margin-right: 5px;}

.title, .list-group-item-text {
	word-wrap: break-word;
}
