<!doctype html>
<html lang="en" ng-app="todomvc" scroll data-framework="firebase" ng-controller="pollCtrl">
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- http://stackoverflow.com/questions/1341089/using-meta-tags-to-turn-off-caching-in-all-browsers -->
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />

	<title>Question Room: {{roomId}}</title>

	
	<!-- MDL -->
	<link rel="stylesheet" href="css/material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
	<!-- Font CSS -->
	<link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
	<link href='https://fonts.googleapis.com/css?family=Crete+Round:400,400italic|Inconsolata' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="fonts/font-awesome-4.4.0/css/font-awesome.min.css">
	
	<!-- need this for comlted ones. TODO: can I do this in bootstrap -->
	<link rel="stylesheet" href="css/main.css">
	
	<!-- Custom styles CSS -->
	
	
	
	
</head>
<body>

		
 <!-- Fixed navbar -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header">
				<div class="mdl-layout-icon"></div>
				<div class="mdl-layout__header-row">
				<span class="mdl-layout__title">Questions Room: {{roomId}}</span>
				<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation mdl-layout--large-screen-only">
					<a class="mdl-navigation__link" href="index.html">Home</a>
					<a class="mdl-navigation__link" ng-href="question.html#/{{roomId}}">Question</a>
					<a class="mdl-navigation__link" href="#">Polling</a>
					<a class="mdl-navigation__link" href="" ng-hide="$authData"  ng-click="FBLogin()">Login</a>
					<a class="mdl-navigation__link" href="" ng-show="$authData"  ng-click="FBLogout()">Logout</a>
					<a class="mdl-navigation__link" ng-show="$authData"><img ng-src="https://graph.facebook.com/{{$authData.facebook.id}}/picture/?type=square&return_ssl_resources=1" alt="{{name}}" />{{$authData.facebook.displayName}}</a>
				</nav>
				</div>
			</header>
			<div class="mdl-layout__drawer">
				<span class="mdl-layout__title">Questions Room: {{roomId}}</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" ng-show="$authData"><img ng-src="https://graph.facebook.com/{{$authData.facebook.id}}/picture/?type=square&return_ssl_resources=1" alt="{{name}}" />{{$authData.facebook.displayName}}</a>
					<a class="mdl-navigation__link" href="index.html">Home</a>
					<a class="mdl-navigation__link" ng-href="question.html#/{{roomId}}">Question</a>
					<a class="mdl-navigation__link" href="#">Polling</a>
					<a class="mdl-navigation__link" href="" ng-hide="$authData"  ng-click="FBLogin()">Login</a>
					<a class="mdl-navigation__link" href="" ng-show="$authData"  ng-click="FBLogout()">Logout</a>
				</nav>
			</div>
			<main class="mdl-layout__content">
			<!-- Raise a poll -->
			<div class="raisepoll">
            <form id="poll-form" ng-submit="addPoll()">
                <h3>Raise a Poll</h3>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label">Enter Your Poll Title</label>
                            <input type="text" class="mdl-textfield__input" ng-model="head" ng-minlength="3" maxlength="1024" required="input.head"></input>	
                    </div>
                    <div>
                        <label>Number of Choices
                        <select id="numberOfChoice" ng-model="numOfChoice" ng-options="choice as choice for choice in choices">
                        </select>
                        </label>
                        <label class="mdl-textfield__label">Options</label>
                        <div ng-repeat="x in getOptions(numOfChoice) track by $index" class="mdl-textfield mdl-js-textfield"><label class="mdl-textfield__label">{{$index + 1}}.</label><input type="text" class="mdl-textfield__input" ng-model="options[$index]" ng-minlength="3" maxlength="1024" required></input></div>
                    </div>
                    <div class="">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Raise</button>
                        <span ng-show="!postable" class="alert alert-danger" role="alert">Title/Options must have more than 3 characters!</span>
                    </div>
            </form>
        </div>
				<div class="pollList">
				<h3>Poll List</h3>		
				</div>
		<div class="mdl-grid pollList"> <!-- Poll listing -->
    
    <!-- For non-xs device -->
    <div class="mdl-cell mdl-cell--hide-phone mdl-cell--6-col">
		
    <div ng-repeat="poll in polls | pollFilter: polls.length" class="list-group">
        <div class="title"><span class="label label-danger" ng-show="poll.latest">New</span>{{poll.head}}</div><br />
        <div ng-repeat="item in poll.items | pollListFilter: 0">
        <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="addVote($index)" ng-disabled="$storage[poll.$id].voted">Vote for {{$index + 1}}:</button>&nbsp;<span>{{item.option}}</span> <br /><br />
				<svg class="chart" width="420" height="120"><g><rect width="{{item.vote/poll.totalVote*420}}" height="19"></rect>
				<text x="37" y="9.5" dy=".35em">{{item.vote}}</text>
				</g>
				</svg>
        </div>
        <tt>posted: <span am-time-ago="poll.timestamp"></span></tt>
        <hr>
    </div>
    </div>
	
    <div class="mdl-cell mdl-cell--hide-phone mdl-cell--6-col">
		
    <div ng-repeat="poll in polls | pollFilter: polls.length" class="list-group">
        <div class="title invisible"><span class="label label-danger invisible" ng-show="poll.latest">New</span>{{poll.head}}</div><br />
        <div ng-repeat="item in poll.items | pollListFilter: 1" ng-init="rightBegin = (poll.items.length/2 | number : 0)*1">
        <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="addVote($index)" ng-disabled="$storage[poll.$id].voted">Vote for {{rightBegin + $index + 1}}:</button>&nbsp;<span>{{item.option}}</span> <br /><br />
				<svg class="chart" width="420" height="120"><g><rect width="{{item.vote/poll.totalVote*420}}" height="19"></rect>
				<text x="37" y="9.5" dy=".35em">{{item.vote}}</text>
				</g>
				</svg>
        </div>
        <tt class="invisible">posted: <span am-time-ago="poll.timestamp"></span></tt>
        <hr>
    </div>
    </div>
	
    <!-- For xs-device (smartphone) -->
    <div class="mdl-cell mdl-cell--hide-desktop mdl-cell--hide-tablet">
    <div ng-repeat="poll in polls | pollFilter: polls.length" class="list-group">
        <span class="label label-danger" ng-show="poll.latest">New</span><span class="title">{{poll.head}}</span>
        <div ng-repeat="item in poll.items">
        <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="addVote($index)" ng-disabled="$storage[poll.$id].voted">Vote for {{$index + 1}}:</button>&nbsp;<span>{{item.option}}</span> <br />
				<svg class="chart" width="420" height="120"><g><rect width="{{item.vote/poll.totalVote*420}}" height="19"></rect>
				<text x="37" y="9.5" dy=".35em">{{item.vote}}</text>
				</g>
				</svg>
        </div>
        <tt>posted: <span am-time-ago="poll.timestamp"></span> </tt>
        <hr>
    </div>
    </div>
    </div>
		<!-- Scroll to top -->

	<div class="scroll-up">
		<a href="#top"><i class="fa fa-angle-up"></i></a>
	</div>
    
  <!-- Scroll to top end-->
			</main>
	


<!-- Autolink from https://github.com/gregjacobs/Autolinker.js> -->
<script src="js/lib/Autolinker.min.js"></script>

<!-- 2.2.2 -->
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/firebase.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angularfire.js"></script>
<script src="js/lib/angular-sanitize.min.js"></script>

<!-- AngularMoment-->
<script src="js/lib/moment.js"></script>
<script src="js/lib/angular-moment.min.js"></script>

<!-- Ng storage 0.3.6  -->
<script src="js/lib/ngStorage.min.js"></script>


<!-- Javascript files -->
<script src="js/app.js"></script>
<script src="js/filters/pollFilter.js"></script>
<script src="js/controllers/pollCtrl.js"></script>
<script src="js/directives/todoFocus.js"></script>
<script src="js/directives/todoBlur.js"></script>
<script src="js/directives/todoEscape.js"></script>
<script src="js/lib/material.min.js"></script>

<!-- Javascript files .Font -->
<script src="http://use.edgefonts.net/source-sans-pro.js"></script> 

<script>
$('a[href*=top]').bind("click", function(e){
			$('html, body').stop().animate({
				scrollTop: 0
				}, 1000);
				e.preventDefault();
			});

			$('main').scroll(function() {
				if ($(this).scrollTop() > 100) {
					$('.scroll-up').fadeIn();
				} else {
					$('.scroll-up').fadeOut();
				}
			});
</script>

</body>
</html>
