<!doctype html>
<html lang="en" ng-app="todomvc" scroll data-framework="firebase" ng-controller="TodoCtrl">
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- http://stackoverflow.com/questions/1341089/using-meta-tags-to-turn-off-caching-in-all-browsers -->
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />

	<title>Question Room: {{roomId}}</title>

	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	
	<!-- Font CSS -->
	<link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
	<link href='https://fonts.googleapis.com/css?family=Crete+Round:400,400italic|Inconsolata' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="fonts/font-awesome-4.4.0/css/font-awesome.min.css">
	
	<!-- need this for comlted ones. TODO: can I do this in bootstrap -->
	<link rel="stylesheet" href="css/main.css">
	
	<!-- Custom styles CSS -->
	<link href="css/room.css" rel="stylesheet" media="screen">
	
	<!-- Emoji -->
	<link rel="stylesheet" type="text/css" href="css/jquery.emojipicker.css">
	<link rel="stylesheet" type="text/css" href="css/jquery.emojipicker.a.css">
	
	
	
</head>
<body>

		
 <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Questions Room: <tt>{{roomId}}</tt></a>
                
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li ng-model="page" ng-repeat="page in pages" ng-class="{active:page.selected}">
                    <a href="" ng-click="changePage($index)">{{ page.name }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="" ng-hide="$authData"   ng-click="FBLogin()" >Login</a></li>
                    <li><a href="" ng-show="$authData"   ng-click="FBLogout()">Logout</a></li>
                    <li><img ng-show="$authData" src="https://graph.facebook.com/{{$authData.facebook.id}}/picture/?type=square&return_ssl_resources=1" alt="{{name}}" />{{$authData.facebook.displayName}}</li>
			
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    
    
    <div ng-include="page.url">
    </div>
	
	
	
	<!-- Scroll to top -->

	<div class="scroll-up">
		<a href="#top"><i class="fa fa-angle-up"></i></a>
	</div>
    
    <!-- Scroll to top end-->



<!-- Autolink from https://github.com/gregjacobs/Autolinker.js> -->
<script src="js/lib/Autolinker.min.js"></script>

<!-- 2.2.2 -->
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/firebase.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angularfire.js"></script>
<script src="js/lib/angular-sanitize.min.js"></script>

<!-- Emoji Picker-->
<script src="js/lib/jquery.emojipicker.js"></script>
<script src="js/lib/jquery.emojipicker.a.js"></script>

<!-- AngularMoment-->
<script src="js/lib/moment.js"></script>
<script src="js/lib/angular-moment.min.js"></script>

<!-- Ng storage 0.3.6  -->
<script src="js/lib/ngStorage.min.js"></script>


<!-- Javascript files -->
<script src="js/app.js"></script>
<script src="js/filters/questionFilter.js"></script>
<script src="js/controllers/todoCtrl.js"></script>
<script src="js/controllers/pollCtrl.js"></script>
<script src="js/directives/todoFocus.js"></script>
<script src="js/directives/todoBlur.js"></script>
<script src="js/directives/todoEscape.js"></script>
<script src="js/lib/bootstrap.min.js"></script>

<!-- Javascript files .Font -->
<script src="http://use.edgefonts.net/source-sans-pro.js"></script> 

<script>
	$(document).ready(function(e) {
		$('#new-todo').emojiPicker({
			width: '300px',
			height: '200px',
			button: false
		});
			
		$('#emoji').click(function(e) {
			e.preventDefault();
			$('#new-todo').emojiPicker('toggle');
			$('.emojiPicker').css("left","275px");
		});
		
		$('a[href*=#]').bind("click", function(e){
			$('html, body').stop().animate({
				scrollTop: 0
				}, 1000);
				e.preventDefault();
			});

			$(window).scroll(function() {
				if ($(this).scrollTop() > 100) {
					$('.scroll-up').fadeIn();
				} else {
					$('.scroll-up').fadeOut();
				}
			});

	});					
</script>
</body>
</html>
